<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Caption</key>
		<string>Super Man</string>
		<key>Comment</key>
		<string>Action Comics</string>
		<key>Cover</key>
		<string>01</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Spider Man</string>
		<key>Comment</key>
		<string>Amazing Fantasy</string>
		<key>Cover</key>
		<string>02</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Chamelion Strikes</string>
		<key>Comment</key>
		<string>The Amazing Spider Man</string>
		<key>Cover</key>
		<string>03</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Green Goblin</string>
		<key>Comment</key>
		<string>The Amazing Spider Man</string>
		<key>Cover</key>
		<string>04</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Anniversary Issue</string>
		<key>Comment</key>
		<string>The Amazing Spider Man</string>
		<key>Cover</key>
		<string>05</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Batman and Joker</string>
		<key>Comment</key>
		<string>The Batman</string>
		<key>Cover</key>
		<string>06</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Death of Parents</string>
		<key>Comment</key>
		<string>The Batman</string>
		<key>Cover</key>
		<string>07</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Bane</string>
		<key>Comment</key>
		<string>The Batman</string>
		<key>Cover</key>
		<string>08</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Harley and Joker</string>
		<key>Comment</key>
		<string>Batman</string>
		<key>Cover</key>
		<string>09</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Dark Knight</string>
		<key>Comment</key>
		<string>Batman</string>
		<key>Cover</key>
		<string>10</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>The Killing Joke</string>
		<key>Comment</key>
		<string>Batman</string>
		<key>Cover</key>
		<string>11</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>No More!</string>
		<key>Comment</key>
		<string>Capitan America</string>
		<key>Cover</key>
		<string>12</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Shocker!</string>
		<key>Comment</key>
		<string>Crisys</string>
		<key>Cover</key>
		<string>13</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Shocker!</string>
		<key>Comment</key>
		<string>Crisys</string>
		<key>Cover</key>
		<string>13</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Hulk</string>
		<key>Comment</key>
		<string>The Incredable Hulk!</string>
		<key>Cover</key>
		<string>14</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Logan</string>
		<key>Comment</key>
		<string>The Incredable Hulk!</string>
		<key>Cover</key>
		<string>15</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Silver Surfer</string>
		<key>Comment</key>
		<string>Sky-Ryder</string>
		<key>Cover</key>
		<string>16</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Amazing Spider Man</string>
		<key>Comment</key>
		<string>The Legend</string>
		<key>Cover</key>
		<string>17</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Death Of Super Man</string>
		<key>Comment</key>
		<string>Super Man</string>
		<key>Cover</key>
		<string>18</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Shocker!</string>
		<key>Comment</key>
		<string>Crisys</string>
		<key>Cover</key>
		<string>19</string>
	</dict>
	<dict>
		<key>Caption</key>
		<string>Hulk</string>
		<key>Comment</key>
		<string>The Incredable Hulk!</string>
		<key>Cover</key>
		<string>20</string>
	</dict>
</array>
</plist>
